# ----------------------- 项目配置 ----------------------
FastApi_host="127.0.0.1"
FastApi_port=8090

# ----------------------- langSmith 配置 ----------------------
LangSmith_API_Key="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"
# LangSmith_URL="https://api.smith.langchain.com"


# ----------------------- Deepseek官方 ----------------------
Deepseek_API_Key="sk-69af0c5d353342a1b4c5e340d8292898"
Deepseek_URL="https://api.deepseek.com"
DEEPSEEK_MODEL="deepseek-chat"

QwenWen_API_Key=""
#其他的key以此类推

# ----------------------- 火山引擎官方 ------------------------
Huoshan_API_Key="ce6e3f77-e345-414b-a43e-3e80378cc95d"
Huoshan_URL="https://ark.cn-beijing.volces.com/api/v3"
Huoshan_LLM_MODEL="doubao-seed-1-6-thinking-250715"
VL_MODEL="qwen2.5vl:32b"



# ----------------------- Metaso配置 ----------------------
METASO_API_KEY="mk-08FC203FCB2D7448AD6EB860CEAD7457"
METASO_API_URL="https://metaso.cn/api/v1/search"


# ----------------------- Mysql数据库配置 ----------------------
MYSQL_HOST="127.0.0.1"
MYSQL_PORT=3306
MYSQL_USER="root"
MYSQL_PASSWORD="CZC96995"
MYSQL_DATABASE="tenderinformation"

# ----------------------- Postgres数据库配置 ----------------------
POSTGRES_HOST="127.0.0.1"
POSTGRES_PORT=5432
POSTGRES_USER="remote_root"
POSTGRES_PASSWORD="CZC96995"
POSTGRES_DATABASE="agent"

# ----------------------- PGvector数据库配置(Postgres拓展,可与上面的Postgres数据库配置一致) ----------------------
PGVECTOR_HOST="127.0.0.1"
PGVECTOR_PORT=5433
PGVECTOR_USER="remote_root"
PGVECTOR_PASSWORD="CZC96995"
PGVECTOR_DATABASE="vector"

# ----------------------- Ollama配置 ----------------------
OLLAMA_BASE_URL="http://47.106.22.52:11433"
OLLAMA_LLM_MODEL="qwen3:32b"
OLLAMA_VL_MODEL="qwen2.5vl:32b"
OLLAMA_EMBEDDING_MODEL="mxbai-embed-large:335m"

# ----------------------- MinerU(PDF解析)配置 ----------------------
MINERU_API_URL="https://mineru.cn/api/v1/parse"
MINERU_API_KEY="mk-08FC203FCB2D7448AD6EB860CEAD7457"

# ----------------------- SearXNG搜索配置 ----------------------
SearXNG_API_URL="https://searxng.cn"

# ----------------------- Elasticsearch配置 ----------------------
ES_HOST="http://127.0.0.1:9200"
ES_VERSION="8.19.7"